// *COLORS
$first-color: #121117;
$second-color: #fff;
$third-color: #048383;
$fourth-color: #5c5e5e;
$fifth-color: #aeb0b0;
$sixth-color: #feb169;
$seventh-color: #45bbbc;
$eighth-color: #c86f29;
$ninth-color: #96fefe;
$tenth-color: #1c2224;
$eleventh-color: #e8ecea;
$twelfth-color: #729fa1;
$thirteenth-color: #50828c;
$fourteenth-color: #ac6b44;
$fifteenth-color: #22918e;
$sixteenth-color: #a5a09d;
$seventeenth-color: #078282;
$eighteenth-color: #3d4955;
$nineteenth-color: #dc945c;
$twentieth-color: #21333e;

// *FONT
// *FONT SIZES
// *header top
$header-top-font-size: 0.6rem;

// *FONT WEIGHTS


// *PADDINGS
// *header top
$header-top-padding: 0.65rem;